* {
  box-sizing: border-box;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.letters {
  width: 50px;
  height: 50px;
  margin: 10px;
}

button {
  cursor: pointer;
  border: 1px solid black;
}

.blankSpaces {
  font-size: 24px;
}

p {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur 5px;
  position: absolute;
}

/* Buttons cannot be clicked with overlay on top of it but buttons can still be pressed. */

canvas {
  border: 1px solid black;
  align-self: center;
}

#newGame {
  width: 96px;
  align-self: center;
}