* {
  box-sizing: border-box;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.hangman {}

.letters {
  width: 50px;
  height: 50px;
  margin: 10px;
}

button {
  cursor: pointer;
}

.blankSpaces {
  font-size: 24px;
}

/* span {
  display: inline-block;
  width: 30px;
  text-align: center;
} */

p {
  display: inline-block;
  width: 30px;
  text-align: center;
}