* {
  box-sizing: border-box;
  text-align: center;
}

h1,
button,
.changeFont,
.hiddenSection {
  font-family: 'Brankovic', sans-serif;
}

h1,
.changeFontColor,
#lose {
  color: crimson;
}

h1 {
  margin-top: 10px;
  margin-bottom: -10px;
  font-weight: bolder;
  font-size: 65px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: rgb(165, 150, 150);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
}

.letters {
  width: 50px;
  height: 50px;
  margin: 10px;
}

button {
  cursor: pointer;
  background-color: black;
  color: white;
  box-shadow: 3px 3px 3px 3px crimson;
}

.blankSpaces,
button {
  font-size: 24px;
}

.blankSpaces {
  margin-top: -20px;
  margin-bottom: -25px;
}

p {
  display: inline-block;
  width: 70px;
  font-size: 40px;
  text-align: center;
}

.overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur 5px;
  position: absolute;
}

canvas {
  align-self: center;
}

#newGame {
  width: 198px;
  align-self: center;
  padding: 10px;
  margin-top: 10px;
  height: 45px;
}

.hidden {
  display: none;
}

.hiddenSection {
  font-size: 50px;
}

#playAgain {
  padding: 20px;
}
